* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size:16px;
    color: #fff;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url('./image/bgpattern.svg');
}

.video-player-container {
    overflow: hidden;
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: #000;
    border-radius: 10px;
    font-family: 'Saira Semi Condensed', sans-serif;
    user-select: none;
    box-shadow: 2px 4px 22px 4px #0000009e;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    object-fit: contain;
    border-radius: 10px;
}

.video-overlay {    
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .7s linear;
}

.needs-hover {
    opacity: 0;
    transition: opacity .9s;
}

.needs-hover:hover {
    opacity: 1;
}

.video-overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: 98%;    
}

.video-info-container, .video-info-more-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-info-container {
    width: 100%;
    height: 100%;
    font-size: 66px;
    font-weight: 800;
    position: relative;
}

.container-default-status {
    margin-left: 140px;    
    margin-top: -80px;
    transition: opacity .5s;
    position: absolute;
}

.button-watch-video {
    cursor: none;
    width: 200px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    user-select: none;
    font-size: 30px;
    font-weight: 200;
    margin-top: 64px;
    background-color: #fff;
    color: #000;
}

.watch-text, .play-icon {
    pointer-events: none;
}

.play-icon {
    background-image: url('./image/play-icon-fill.svg');
    background-position: center;
    margin-top: 3px;
    margin-left: 20px;
    width: 12px;
    height: 16px;
}

.video-info-more-container {
    font-size: 25px;
    font-weight: 200;
    line-height: 24px;
    font-style: normal;
    margin-top: -4px;
}

/* WATCHING STATUS*/

.container-watching-status, .container-playlist-status {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
    position: absolute;
}

.watching-bottom, .watching-mid, .watching-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watching-top, .watching-bottom {
    width: 100%;
    height: 15%;
    /*border: 1px solid white;*/
    display: flex;
    justify-content: space-between;
}

.watching-mid {
    width: 100%;
    height: 70%;
   /* border: 1px solid white;*/
}

.watching-info-container {
    margin-left: 2.8%;
    margin-bottom: -20px;
}

.watching-info.video-info-title-container {
    font-size: 50px;
    font-weight: 600;
}

.watching-info.video-info-more-container {
    /*font-family: 'Roboto';*/
    font-size: 20px;
    font-weight: 200;
    margin-top: -10px;
}

.top-buttons-container {
    width: 16%;
    height: 100%;
    display: flex;
}

.control-button {
    width: 8%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.control-button.playlist-button {
    background-image: url('./image/playlist-button.svg');
    width: 50%;
}

.control-button.volume-button {
    background-image: url('./image/volume-button.svg');
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button.volume-button.volume-mute {
    background-image: url('./image/volume-button-mute.svg');
}

.volume-bar-container {
    position: absolute;
    width: 40%;
    height: 170%;
    top: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
    transform: rotate(180deg);
}

.volume-bar {
    position: relative;
    height: 100%;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

.volume {
    height: 0px;
    width: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    pointer-events: none;
}

.previous-button-container, .pause-play-button-container, .next-button-container {
    height: 52%;
}

.previous-button-container, .next-button-container {
    width: 15%;
}

.pause-play-button-container {
    width: 30%;
}

.cursor-circle {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 10000;
    transition: border .4s, background .4s, width .4s, height .4s, font .4s, opacity .4s;
    box-shadow: 0px 0px 4px 0px #000000b0;
}

.cursor-circle.cursor-hover {
    width: 70px;
    height: 70px;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size: 1.1rem;
}

.opacitytwo {
    width: 35px;
    height: 35px;
    opacity: .2;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: 100%;
}

.progress-bar-background {
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

.progress {
    width: 0px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    pointer-events: none;
}

.current-time {
    width: 40px;
    font-weight: 200;
    font-size: 17px;
    margin-left: 10px;
    margin-top: -25px;
}

.stop-button {
    background-image: url('./image/stop-button.svg');
}

.expand-button {
    background-image: url('./image/expand-button.svg');
}

/* **************************** START PLAYLIST ************************** */
.playlist-header, .playlist-previous-button-container, .playlist-videos-container, .playlist-next-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playlist-header, .playlist-previous-button-container, .playlist-next-button-container {
    align-items: center;
    height: 10%;
}

.playlist-videos-container {
    overflow: hidden;
    align-items: flex-start;
    height: 70%;
    flex-wrap: wrap;
}

.playlist-video {
    opacity: .9;
    width: 22%;
    height: 30%;
    border-radius: 4px;
    margin: .6%;
    background-size: cover;
    transition: transform 1s ease-out;
}

.previous-video-overlay::after, .current-video-overlay::after, .next-video-overlay::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-video-overlay::after {
    content: "Previous";
}

.current-video-overlay::after {
    content: "Watching";
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.next-video-overlay::after {
    content: "Next";
}

.playlist-back-button {
    width: 76px;
    height: 38px;
    position: absolute;
    left: 20px;
    background-image: url('./image/go-back-button.svg');
    background-position: center;
}

.playlist-title {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.playlist-previous-button-icon, .playlist-next-button-icon {
    width: 65px;
}

.playlist-previous-button-icon {
    background-image: url('./image/prev-arrow-icon.svg');
    background-position: center;
}

.playlist-next-button-icon {
    background-image: url('./image/next-arrow-icon.svg');
    background-position: center;
}
/* **************************** END PLAYLIST ************************** */

.nodisplay {
    opacity: 0;
    pointer-events: none;
}

.opacityeight {
    background-color: rgba(0, 0, 0, 0.8);
}

.nodisplayforreal {
    display: none;    
    opacity: 0;
}

.translateup {
    transform: translateY(-335%);
}

.translatedown {
    transform: translateY(335%);
}
